@charset "UTF-8";

body {
    width: 800px;
}

#image {
    display: block;
    height: 200px;
}

#about {
    float: left;
    width: 400px;
}

main {
    float: right;
    width: 400px;
    margin-top: -145px;
    margin-bottom: 15px;
}

.logo {
    height: 30px;
}