@charset "UTF-8";

body {
    width: 800px;
}

#image {
    height: 200px;
    background: url('../../images/keyboard.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

#about {
    float: left;
    width: 400px;
}

main {
    float: right;
    width: 400px;
    margin-top: -145px;
    margin-bottom: 15px;
}

.logo {
    height: 30px;
}